@use '../../assets/scss/variables' as *;
@use '../../assets/scss/mixins' as *;

.button {
    width: 100%;
    padding: 0.875rem 1.5rem;
    border-radius: 7px;
    font-size: 16px;
    color: $white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;

    @include tablet{
      padding: 0.5rem 0.5rem;
  }

    &--outline {
      border: 2px solid $white;
      background: transparent;

      &:hover {
        background-color:$white;
        color: $black;
      }
    }
    &--primary {
      background-color: $black;
      position: relative;
  
      &:hover {
        transform: translate(5px, -5px);
      }
  
    }
  }