@use '../../assets/scss/variables' as *;
@use '../../assets/scss/mixins' as *;

.card{
    background-color: rgb(73, 51, 51);
    opacity: 88%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:0.1px solid $silver;
    position: relative;

    &:hover {
        opacity: 98%;
        cursor: pointer;
        }

    &__content {
        padding: 24px 24px 35px 24px;

        .card__title {
            font-size: 1rem;
            font-weight: bold;
        }

        .card__description {
            font-size: 1.375rem;
            font-family: LLIvory;
            margin-bottom: 1rem;
            padding: 0 2rem;
        }

        .card__header{
            margin-bottom: 2rem;

            @include tablet{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        .card__link {
            font-size: 0.875rem;
            font-weight: bold;
            color: $mercury;
            text-decoration: none;
            position: relative; // Necessary for ::after positioning

            &::after {
              content: '';
              position: absolute;
              right: -10px; // Adjust spacing
              top: 50%;
              transform: translateY(-50%);
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 3px 0 3px 5px; // Triangle pointing right
              border-color: transparent transparent transparent $mercury;
            }

            &--upper{
                display: none;
            }

            @include tablet{
                &--upper{
                    display:flex;
                }

                &--lower{
                    display: none;
                }
            }


        }

    }

    &__image {
        width: 100%;
        object-fit: cover;
      }
}