@use './assets/scss/variables' as *;
@use './assets/scss/mixins' as *;

// first-section
.first-section {
    background-image: url(./assets/images/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    color: $white;
      
  }

  // product section
.product{
  padding: 2rem 1rem;

  .card-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 1rem;


      @include tablet{
          flex-direction: row;
          // align-self: center;
      }
  }
}